
  .font {
    color: green;
  }

  .nameBox {
    @apply absolute top-6 left-0 z-20 pr-16;
  
    @screen lg {
      @apply left-6 pr-16;
    }
  
    & .name {
      @apply px-6 py-2 bg-primary text-primary font-bold;
      font-size: 2rem;
      letter-spacing: 0.4px;
    }
  
    & .price {
      @apply px-6 py-2 pb-4 bg-primary text-primary font-bold inline-block tracking-wide;
    }
  
    @screen lg {
      & .name,
      & .price {
        @apply bg-violet-light text-white;
      }
    }
  }

  .price {
    @apply px-6 py-2 pb-4 bg-primary text-primary text-3xl font-bold inline-block tracking-wide;
  }