.inputSearch {
  position: relative;
  display: flex;
  /* width: rem; */
  /* padding: 4px 0; */
  background: white;
  align-items: center;
  border-radius: 0.25rem;
}

.inputSearch button {
  font-size: 1.5rem;
  background-color: #1226aa;
  color: #fff;
  height: 2.5rem;
  margin: 0 2px 0 0;
  border-radius: 10px;
}

.input {
  width: 100%;
  height: 2.75rem;
  font-size: 1.5rem;
  margin: 0 6px;
  border: none;
  padding: 1.5rem;
}

